@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: "Inter", sans-serif;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

canvas {
  /* aspect-ratio: 8/3;
  padding: 20px;
  background: linear-gradient(to bottom, #151515, #222); */
  border-radius: 4px;
}

button {
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

input {
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}